* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: Space Mono;
}

.sidebar {
    width: 300px;
    height: 100%;
    margin: 15px 0 15px 15px;

}
.sidebar-usuario {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #ffC700;
    border: solid 3px #2E2E2E;
    border-radius: 20px;
    height: 110px;
}
.online {
    font-weight: lighter;
    color: rgb(10, 145, 10);
}

.last-txt {
    font-weight: lighter;
    color: #2E2E2E;
}

.sidebar-usuario-img{
    display: flex;
    align-items: center;
    gap:15px
    
}

.sidebar-usuario-img figure{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.usuario-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: none;
}

.sidebar-usuario-text , .sidebar-users-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-usuario-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    color: #2E2E2E;
}


.sidebar-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 120px;
}

.sidebar-boton button {
    padding: 10px;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFC700;
    border: solid 3px #2E2E2E;
    font-weight: 500;
    cursor: pointer;
    font-family: space mono;
}

.siderbar-boton button:hover{
    transform: scale(1.1);
    box-shadow: inset 0px 0px 15px #2E2E2E;
}

.chat {
    overflow: auto;
    height: calc(100% - 275px);
}

.chat-ul{
    display: flex;
    flex-direction: column;
}

.chat-li {
    display: flex;
    align-items: center;
    gap: 15px;
    border: solid 3px #2E2E2E;
    border-radius: 20px;
    margin-top: 5px;
}

.chat-li figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}

.chat-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}


main {
    margin: 15px;
    border-radius: 20px;
    border: solid 3px #2E2E2E;
    display: flex;
    flex-grow: 1;
    background-color: #FFC700;
    justify-content: center;
    align-items: center;
}

.box-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 60px;
    border-radius: 20px;
    border: solid 3px #2E2E2E;
    max-width: 700px;
}
.img-body {
color: #2E2E2E;
font-size: 150px;
text-align: center;
}

.txt-body{
    text-align: center;
}
